#operaciones,
#box {
    height: 680px;
    margin-top: 10px;
}

#option {
    margin-top: 50px;
    height: 70px;
}

#feet {
    height: 50px;
}

main {
    padding: 5px;
}

.p {
    border: red;
}

input {
    border: 2px solid blue;
}

#box,
#option {
    background: whitesmoke;
}

#result {
    height: 350px;
    margin: 6px;
}

#arana {
    position: relative;
    top: 150px;
}

#accion {
    position: relative;
    bottom: 200px;
}